
body {
	text-align:center;
	background-color: black;
	color:white;
}

.top {
 
	padding: 1px;
	background-color:#020d03;
	opacity: 0.4; /* Значение прозрачности */
    filter: alpha(Opacity=40);
	height: 490px;
	width:450px;
	margin:0 auto;
}


.news {
	padding: 1px;
	background-color:#020d03;
	opacity: 0.4; /* Значение прозрачности */
    filter: alpha(Opacity=40);
	height: 170px;
	width:450px;
	margin:0 auto;
}

p, h1, h4, h2, h3, dt, dd, dl{
	color:white;
}

a:hover {
color:red;
}
a {color:white;}
